@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.contact h2{
     height: auto;
  width: auto;
  text-align: left;
  color: #fff;
  display: inline;
  font-size: 25px;
  font-weight: 200;
  line-height: 22px;
  border-bottom: 3px solid #bb86fc;
}

.contact form{
   
   
}
form .input-box{
    justify-content: space-between;
}

.input-box .input-field{
    width: 150%;
}

.field .item {
    width: 150%;
    padding: 15px;
    background: transparent;
    border: 1px solid #7e3fde;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ffffff;
    margin: 12px 0;

}
.field .item::placeholder{
    color: rgba(251, 251, 251, 0.3);
    font-size: 16px;
}

form .textarea-field .item{
    resize: none;
}

form button{
    padding: 2px 32px;
    background: #7e3fde;
    border: none;   
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #7e3fde;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}
